*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration:none;
    }
    
.container-full {
    width:100%;
}

.container{
    width:70%;
    margin:0px auto;
}
ul.li li{
    display:inline-block;
    list-style-type: none;
}

.flex{
    display:flex;
    justify-content:space-between;
}


